.credit{
    font-size: xx-small;
    text-align: right;
    margin-bottom: -10px;
}
.credit2{
    font-size: medium;
    text-align: center;
    background-color: lightgrey;
    min-width: 800px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 10px;
}
body {
    color: purple;
    background-image: url(img/background.jpg);
    background-size: contain;
}
h1 {
    text-align: center;
}
.intro{
    background-color: lightgrey;
    border-radius: 10px;
    min-width: 800px;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}
.limit {
    margin: auto;
    min-width: 800px;
    max-width: 600px;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
}
p {
    font-size: x-large;
}
.portfolio {
    text-align: center;
    background-color: lightgrey;
    min-width: 800px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
}
h2 {
    text-align: center;
}
ul {
    font-size: x-large;
}
.borderleft{
    float: left;
}
.borderright{
    float: right;
}
.menu{
    padding: 25px;
    text-align: center;
    min-width: 1100px;
    max-width: 500px;
    background-color: lightgrey;
    border-radius: 10px;
    margin: auto;
}
.menu > a{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 180, 180);
    color: rgb(148, 0, 148);
    padding: 12px 24px 12px 24px;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
}
.menu > a:hover{
    background-color: purple;
    color: white;
}
.design {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dropbtn {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 180, 180);
    color: rgb(148, 0, 148);
    padding: 12px 24px 12px 24px;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    border: 0px;
    outline: 0px;
  }
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(180, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 24px 12px 24px;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    z-index: 1;
  }
.dropdown-content a {
    color: rgb(148, 0, 148);
    padding: 12px 24px 12px 24px;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.1s linear 0s, color 0.1s linear 0s;
  }
.dropdown-content a:hover {
    background-color: purple;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: purple;
    color: white;
}
.dropup {
    position: relative;
    display: inline-block;
  }
.dropup-content {
    display: none;
    position: absolute;
    background-color: rgb(180, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 24px 12px 24px;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    z-index: 1;
    bottom: 100%;
  }
.dropup-content a {
    color: rgb(148, 0, 148);
    padding: 12px 24px 12px 24px;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.1s linear 0s, color 0.1s linear 0s;
  }
.dropup-content a:hover {
    background-color: purple;
    color: white;
}
.dropup:hover .dropup-content {
    display: block;
}
.dropup:hover .dropbtn {
    background-color: purple;
    color: white;
}
